.container-manage-room {
    .title-table {
        font-size: 24px;
        font-weight: 600;
    }

    .add-row {
        float: right;
        margin: 10px 20px 10px 0px;
    }

    .content-table {
        margin-right: 10px;
        width: 1100px;
        overflow-x: scroll;
        
    }
}
