.container-login {
    width: 100vw;
    height: 100vh;
    background-color: #eee;
    display: flex;
    justify-content: center;

    .form-login {
        width: 50%;
        height: 60%;
        margin-top: 100px;
        padding-top: 50px;
        border: solid 1px #ccc;
        background-color: #fff;
        text-align: center;
        border-radius: 5px;

        .header-login {
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: 600;

            div {
                margin-bottom: 5px;
                img {
                    width: 100px;
                    height: 100px;
                }
            }
        }
    
        .body-login {
            margin-bottom: 20px;
            div {
                margin-bottom: 10px;
            }
        }
    
        .footer-login {
            display: inline-block;
            // margin: 0 auto;
            width: 66%;
            text-align: center;
            
        }
    }
    
}