.container-manage-user {
    .title-table {
        font-size: 24px;
        font-weight: 600;
    }

    .add-row {
        float: right;
        margin: 10px 10px 10px 0px;
    }

    .content-table {
        margin-right: 10px;
        
    }
}
